<div class="box">
    <form action="/erstellen">
        <div class="eingabe">
            <input type="text" id="titel" name="titel"placeholder="Titel"><br>
        </div>
        
        <div class="eingabe">
             <input type="text" id="input" name="input" placeholder="To-Do">
             <button onclick="NeuerInput()" type="button" class="btn btn-primary" id="neuerInput">add</button>
        </div>
        <a href="/liste"><button type="button" class="btn btn-primary">Absenden</button></a>
       
        
    </form>
</div>
