.container-fluid{
    display: flex;
    flex-direction: row;
}

body{
    margin: 0;
    padding: 0;
}

.class{
    display: flex;
    flex-direction: row;
}

.box:hover{
    box-shadow: 1px 1px lightgrey;
}

a{
    text-decoration: none;
 }
 