<nav class="sidebar">
    <div>
    
        <a class="nav-link" href="#">
            <img src="" class="rounded-circle" alt="img">
            Account
        </a>    
    </div>

    <a [routerLink]="['/list']" [queryParams]="{ fav: false }" queryParamsHandling="merge" class="favLink">
        <div class="favLists">
                Alle Listen
        </div>
    </a>

    <a [routerLink]="['/list']" [queryParams]="{ fav: true }" queryParamsHandling="merge" class="favLink">
            <div class="favLists">
                    FavListe
            </div>
    </a>
</nav>

